h1 {
    color: aquamarine;
    background-color: beige;
}

ul {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    margin: 0 auto;
}

div.container {
    background-color: whitesmoke;
    margin: 0 auto;
    width: 800px;
}

ol {
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: pink;
}